extends layout

block content
    .container
        table.table.table-striped
            for todo in todoList
                tr
                    td #{todo.item}
                    td #{todo.date}
